# select a revision to deploy, available values: stable, beta, canary
NOTA_REVISION=stable

# set the port for the server container it will expose the server on
PORT=3010

# set the host for the server for outgoing links
# NOTA_SERVER_HTTPS=true
# NOTA_SERVER_HOST=nota.yourdomain.com
# or
# NOTA_SERVER_EXTERNAL_URL=https://nota.yourdomain.com

# position of the database data to persist
DB_DATA_LOCATION=~/.nota/self-host/postgres/pgdata
# position of the upload data(images, files, etc.) to persist
UPLOAD_LOCATION=~/.nota/self-host/storage
# position of the configuration files to persist
CONFIG_LOCATION=~/.nota/self-host/config

# database credentials
DB_USERNAME=nota
DB_PASSWORD=
DB_DATABASE=nota
